apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# Prerequisites: NGINX Ingress Controller must be installed in the cluster
# Install with: kubectl apply -f https://raw.githubusercontent.com/kubernetes/ingress-nginx/controller-v1.8.2/deploy/static/provider/cloud/deploy.yaml

resources:
  - ../../bases/controller
  - ../../bases/dashboard

patches:
  - target:
      kind: Deployment
      name: simple-app-operator-controller-manager
    patch: |-
      - op: add
        path: /spec/template/spec/containers/0/env
        value:
          - name: INGRESS_CLASS_NAME
            value: "nginx"